<div id="map"></div>
<div class="body-container">
  <h1>{{shop.name}}</h1>
  <h3>Your shop online</h3>

  <div id="first-container">
    <form action="/myshop/create-shop/{{shop.id}}"id="form-create-shop" data-shop-id={{shop.id}} enctype="multipart/form-data">

    <div class="firstsmallcontainer">
      <div class="image-upload image-container">
        <label for="file-input">
          <div class="imageforcreatesop">
          <img id="product-image" src={{shop.image}} width="200">
          </div>
          <div class="circle-add-image">
            <i class="fas fa-plus"></i>
          </div>
        </label>
        <input class="input" id="file-input" type="file" name="image" value={{shop.image}}>
      </div>
    </div>

      <div class='input-container type-container'>
        <label for="type">Shop Type</label>
        <select id="select" class="input" id="type" name="type">
          <option value="Farmer">Farmer</option>
          <option value="Fisher">Fisher</option>
          <option value="Artisan">Artisan</option>
          <option value="Growcery">Growcery</option>
          <option value="Other">Other</option>
        </select>
      </div>
      <div class='input-container description-container'>
        <label for="description">Description</label>
        <input class="input" name="description" id="description" placeholder="Tell us more about your shop...">
      </div>
      <div class='input-container address-container'>
        <label for="address">Address</label>
        <input class="input" name="address" id="address" placeholder="Where is your shop ?">
      </div>
      <div class='input-container phone-container'>
        <label for="phone">Phone</label>
        <input class="input" name="phone" id="phone" placeholder="How customers can join you ?">
      </div>
      <div class="buttonsubmit">
      <button id="submit-button">Submit infos</button>
      </div>
    </form>
  </div>


































  <div id="shelves-placeholder">
    <h2>Your shelves are still empty !</h2>
    <a href="/myshop/create-item/{{shop.id}}">
      <div class="circle"><i class="fas fa-plus"></i></div>
    </a>
    <div>Add items to your store</div>
  </div>
</div>