<header class="dashboard-header">
  <nav class="navbar">
    <div class="logoandtext">
      {{!-- <img src="/coq.png" alt="imgcoq" class="coqimg"> --}}

      <p class="tikoktext">tikok</p>
      <img class="coqimg" alt="imgcoq"
        src="https://res.cloudinary.com/dyvosdvps/image/upload/v1581546572/tikok-pictures/Sans_titre_1_b7shu3.png">
    </div>
    <div class="navtext">
      <ul class="navlist">
        <li><a href="/"> Home </a></li>
        <li><a href="/myshop/dashboard/{{shop.id}}"> My Dashboard </a></li>
        <li><a href="/logout">Log Out</a></li>
      </ul>
    </div>
  </nav>
</header>



<div class="myshelves123">
<div class="myshelvestitle">
<h1>My Shelves</h1>
</div>
<div class="search-placeholder">
    <form id="search-form" action="/shopping/search">
   <input type="search" id="search-bar" name="q"
       aria-label="Search through site content" placeholder="filter" >
    <button type="submit" id="search-button"><i class="fas fa-search"></i></button>
    </form>
</div>
<div id="shelves-placeholder">
  <a href="/myshop/create-item/{{shop.id}}">
    <div class="circle"><i class="fas fa-plus"></i></div>
  </a>
  <div>Add items to your store</div>
</div>
</div>
















<div class="grid-container" data-shop-id="{{shop._id}}">
  {{#each shop.list_products}}
  <div class="block display-block">
    <img id="display-image" class="product-image" alt={{this.name}} src={{this.image}} width="300">
    <div class="infos-placeholder">
      <div class="display-name">Item :{{this.name}}</div>
      <div class="display-description">Description :{{this.description}}</div>
      <div class="display-price">Price :{{this.price}}</div>
      <div class="display-quantity">Quantity : {{this.quantity}}</div>
      <div class="display-ref">Reference : {{this.ref}}</divid="display-name">
      </div>
      <div class="placeholder-button">
        <button data-item-id="{{this.id}}" class="delete-btn crud-btn"><i class="fas fa-trash-alt"></i>Delete</button>
        <button data-item-id="{{this.id}}" class="edit-btn crud-btn green-btn"><i class="fas fa-edit"></i>Edit</button>
      </div>
    </div>
  </div>
  {{/each}}
</div>
</div>
<div id="delete-modal" class="modal">
  <span class="close" title="Close Modal"
    onclick="document.getElementById('delete-modal').style.display='none'">&times;</span>
  <form class="modal-content">
    <div class="container">
      <h1>Delete item</h1>
      <p>Are you sure you want to delete this item?</p>
      <div class="btn-countainer">
        <button type="button" class="crud-btn cancelbtn">Cancel</button>
        <button type="button" class="crud-btn deletebtn">Delete</button>
      </div>
    </div>
  </form>
</div>
</div>
<div id="edit-modal" class="block-edit block">
  <span class="close" title="Close Modal"
    onclick="document.getElementById('edit-modal').style.display='none'">&times;</span>
  <h2 class="form-title">Update Item</h2>
  <form class="edit-content">
    <div class="imageToUpload">
      <button class="add-picture"><input id="image" type='file' onchange="readURL(this);"
          class="input-image" /></button>
    </div>
    <label for="category" name="category" class="label-name label">Category</label>
    <select id="select" name="category" id="category" class="select input">
      <option value="-1" name="category" disabled selected>Choose a category</option>
      <option value="fruits" name="category">Fruits</option>
      <option value="vegetables" name="cagetory">Vegetables</option>
      <option value="fishes & seafood" name="category">Fishes and Seafood</option>
      <option value="meats" name="category">Meats</option>
      <option value="artisan goods" name="category">Artisan Goods</option>
      <option value="growcery" name="category">Growcery</option>
      <option value="other" name="category">Other</option>
    </select>
    <div class="input-container">
      <label for="name">name</label>
      <input id="name" class='input' name='name' type="text">
    </div>
    <div class="input-container">
      <label for="price" class="label-price label">Price</label>
      <input id="price" name="price" type="number" class="input" min="1">
    </div>
    <div class="input-container">
      <label for="description" class="label-descr label">Description</label>
      <input id="description" name="description" type="text" class="input" placeholder="balaou balaou balaou">
    </div>
    <button class="crud-btn green-btn">Edit</button>
  </form>
</div>