

<div class="grid-container">
{{#each items.list_products}}
<div class="block">
    <img class="product-image"alt={{this.name}} src={{this.image}} width="300">
    <div class="infos-placeholder">
    <div>Item :{{this.name}}</div>
    <div>Description :{{this.description}}</div>
    <div>Price :{{this.price}}</div>
    <div>Quantity : {{this.quantity}}</div>
    <div>Reference : {{this.ref}}</div>
    </div>
    <div class="placeholder-button">
        <div class="delete-btn crud-btn"><i class="fas fa-trash-alt"></i>Delete</div>
        <div class="edit-btn crud-btn"><i class="fas fa-edit"></i>Edit</div>
    </div>
</div>
{{/each}}
</div>