<form action="/myshop/select-items" method="post">
<div class="grid-container">
{{#each templates}}
<div class="image-container">
<input type="checkbox" id={{this.name}} name={{this.name}} value={{this.name}} />
<label class="image-container" for={{this.name}}><img class="label-image" src="{{this.image}}" width="100"></label>
</div>
{{/each}}
</div>
<button type="submit">Submit</button>
</form>

{{!-- {{#each templates}}
<div><img class="image" alt="{{this.name}}" src="{{this.image}}">
<h3>{{this.name}}</h3>
</div>
{{/each}} --}}
