<div class="grid-container" data-shop-id="{{shop._id}}">
  {{#each Products}}
    <div class="block display-block">
        <img class="product-image"alt={{this.name}} src={{this.image}} width="300">
        <div class="infos-placeholder" data-item-id="{{this.id}}">
        <div>Item :{{this.name}}</div>

        </div>
        <div class="placeholder-button">
            <button class="info-btn"><i class="fas fa-trash-alt"></i>Description</button>
        </div>
    </div>
    {{/each}}