{{>customerNavBar}}
<div class="grid-container">
    <div class="block display-block" data-shop-id="{{shop.id}}">

        <img class="product-image" alt="{{product.name}}" src={{product.image}} width="300">
        <div class="infos-placeholder" data-item-id="{{product.id}}">
        <div class="nadap">
        <div class="nameanddescription">
        <div>{{product.name}}</div>
        <div>{{product.description}}</div>
        </div>
         <div class="priceofproduct">
        <div>Price :{{product.price}}€</div>
        </div>
        </div>

      <a><button id="order-button" class="btnorder">ORDER</button></a>

{{#each otherProducts}}
      <div>
        <img src="{{this.image}}" alt="" width="300"> 
        <h3>{{this.name}}</h3>     
        </div>
{{/each}}
    </div>