
<div>
<p class="shopname">{{shop.name}}</p>

</div>

<div class="grid-container" data-shop-id="{{shop._id}}">
  {{#each shop.list_products}}
    <div class="block display-block">
      
        <a href="/shopping/shop/{{../shop.id}}/{{this.id}}"><img class="product-image"alt={{this.name}} src={{this.image}} width="300"></a>
        <div class="infos-placeholder" data-item-id="{{this.id}}">
        <div>Item :{{this.name}}</div>
        <div>Price :{{this.price}}</div>

        </div>
    </div>
    {{/each}}